.table-row{
    border-bottom: #b3b7bb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
}

.nav-tabs {
  border-bottom: 0px solid transparent;
}
.nav-tabs .nav-link {
  border: 0px solid transparent;
}