.title{
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

.title2{
    font-size: 14px;
    font-style: italic;
    margin: 0px;
    padding-left: 10px;
}

.title-div{
    padding-left: 10px;
}

.nav-tabs {
  border-bottom: 0px solid transparent;
}
.nav-tabs .nav-link {
  border: 0px solid transparent;
}