.content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 120px 32px;
  background-color: #ffffff;
  gap: 80px;
}

.content-image {
  flex: 1 1 400px;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.network-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  animation: floatY 3s ease-in-out infinite;
}


@keyframes floatX {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(6px); }
}

@keyframes floatY {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}

@keyframes floatXY {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(6px, -6px); }
}

.content-text {
  flex: 1 1 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-heading {
  font-size: 43px;
  font-weight: 700;
  color: #3993ff;
  font-family: "Inter", sans-serif;
}

.content-description {
  font-size: 18px;
  font-weight: 500;
  color: #212529;
  font-family: "Space Grotesk", sans-serif;
  line-height: 30px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .content-section {
    flex-direction: column;
    text-align: center;
    padding: 80px 20px;
  }

  .content-heading {
    font-size: 32px;
  }

  .content-description {
    font-size: 16px;
  }
}
