.rectangle {
  height: 57px;
  width: 451px;
}

.rectangle .overlap-group {
  border-radius: 9px;
  height: 57px;
  position: relative;
}

.rectangle .text-wrapper {
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 300;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 302px;
}

.rectangle .div {
  border: 1px solid;
  border-radius: 9px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 451px;
}

.rectangle .active {
  color: #000000;
}

.rectangle .state {
  color: #7f7f7f;
}

.rectangle .state-active {
  border-color: #000000;
}

.rectangle .state-state {
  border-color: #adadad;
}
