.auth-header {
  margin-bottom: 16px;
}

.auth-title {
  font-family: "Inter", Helvetica;
  font-size: 21px;
  font-weight: 400;
  color: transparent;
  white-space: nowrap;
}

.auth-span {
  color: #000000;
}

.auth-highlight {
  color: #0e1d32;
  font-weight: 700;
}

.auth-switch {
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  color: transparent;
  line-height: normal;
  text-align: right;
  margin-top: 6px;
}

.auth-muted {
  color: #8d8d8d;
}

.auth-link {
  cursor: pointer;
  text-decoration: underline;
  background-color: #0e1d32;
  color: #ffffff;
  width: 150px;
  margin-top: 2px;
}

.auth-link:hover {
  background: linear-gradient(90deg, #204373 0%, #0E1D32 50%, #2B5898 100%);
  color: #ffffff;
  border: 1px solid #494f54;
}

.login-as-positioned {
  position: absolute;
  left: 30px;
  top: 75%;
  transform: translateY(-50%);
  z-index: 1;
}

.auth-wrapper {
  position: relative;
  background-color: white;
  min-height: 100vh;
  overflow: hidden;
}

.auth-background-vector {
  position: absolute;
   top: calc(50% - 60px);
  left: 0;
  transform: translateY(-50%);
  z-index: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.login-as-wrapper {
  position: absolute;
  left: 60px;
  top: 80%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 1;
}

.login-as-label {
  font-size: 16px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 0px;
  color: #0e1d32;
}

.animated-network {
  width: 700px;
  height: auto;
  animation: pulseRotate 12s ease-in-out infinite;
  transform-origin: center;
}


/*@keyframes pulseRotate {*/
/*  0% {*/
/*    transform: scale(1) rotate(0deg);*/
/*  }*/
/*  50% {*/
/*    transform: scale(1.04) rotate(180deg);*/
/*  }*/
/*  100% {*/
/*    transform: scale(1) rotate(360deg);*/
/*  }*/
/*}*/