.tooltip-container {
    position: relative;
    display: inline-block;
    margin-left: 12px;
}

.tooltip-visible {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-70%, 5px);
    background-color: #f1f1f1;
    color: #494f54;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    width: 300px;
    white-space: normal;
    /*word-wrap: break-word;*/
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.info-icon {
    cursor: pointer;
    color: #555;
}
