/*!* Form groups *!*/
/*.form-group {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: left;*/
/*}*/


.general-error {
    text-align: center;
    font-weight: bold;
}

/* Password group styling */
.password-group {
    display: flex;
    flex-direction: column;  /* Ensure label, icon, and input are stacked vertically */
    align-items: flex-start;
}