.table-header-first{

}

.table-header-row{
    font-size: 12px;
    font-weight: bold;
    vertical-align: center;
}

.form-label-first{
    font-size: 12px;
    font-weight: bold;
    vertical-align: center;

}
