.signal-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.signal-row:hover {
  background-color: #f3f4f6; /* világosszürke hover */
}

.signal-row.selected {
  background-color: #dbeafe; /* kékes kiemelés */
}

.status.pending {
  color: purple;
  font-weight: 600;
}

.status.executed {
  color: green;
  font-weight: 600;
}

.status.failed {
  color: red;
  font-weight: 600;
}
