.signal-row {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.signal-row:hover {
  background-color: #f3f4f6; /* világosszürke hover */
}

.signal-row.selected {
  background-color: #dbeafe; /* kékes kiemelés */
}

.status.pending {
  color: #cf6ecf;
  font-weight: 600;
}

.status.executed {
  color: #00a59a;
  font-weight: 600;
}

.status.rejected {
  color: rgb(255, 165, 0);
  font-weight: 600;
}

.status.partially-executed {
  color: rgb(244, 103, 60);
  font-weight: 600;
}

.status.buy {
  color: #00a59a;
  font-weight: 600;
}

.status.failed {
  color: #ee7d8b;
  font-weight: 600;
}

.table-body {
  max-height: 400px; /* vagy tetszőleges magasság */
  overflow-y: auto;
}

.signals-table thead th {
  position: sticky;
  top: 0;
  background-color: white; /* vagy a háttérszíned */
  z-index: 2;
}
