/* Alap layout konténer */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Alapszínek, tipográfia */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/*!* Header *!*/
/*header {*/
/*  background-color: #0E1D32;*/
/*  padding: 20px 0;*/
/*  height: 80px;*/
/*  border-radius: 69px;*/
/*}*/

/*header .nav {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*}*/

/*header a {*/
/*  margin-left: 20px;*/
/*  text-decoration: none;*/
/*  color: #333;*/
/*}*/

/* Hero */
.hero {
  background: #eef3f8;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* CTA Button */
.btn {
  background: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}

/*!* Features *!*/
/*.features {*/
/*!*  background: #fff;*!  ez a header is ugyanilyen néven van!!!! meg kell majd változtatni*/
/*  padding: 80px 0;*/
/*  text-align: center;*/
/*}*/

/*.features-grid {*/
/*  display: flex;*/
/*  gap: 24px;*/
/*  justify-content: center;*/
/*  flex-wrap: wrap;*/
/*}*/

/*.feature-card {*/
/*  flex: 1 1 250px;*/
/*  background: #f1f5f9;*/
/*  padding: 20px;*/
/*  border-radius: 8px;*/
/*}*/

/* CTA szekció */
.cta {
  background: #007bff;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

/* Footer */
footer {
  background: #f1f1f1;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
}
