.landing-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

.section-divider {
  height: 30px;
  width: 100%;
  background: radial-gradient(
    circle at center,
    rgba(135, 182, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.9) 80%
  );
  filter: blur(20px);
  margin-top: -40px; /* ha rá akarod "úsztatni" a két szekció közé */
  z-index: 1;
}
