header {
  background-color: #0e1d32;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-content {
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
    gap: 80px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  height: 41px;
  width: auto;
}

.company-name {
  color: #ede3c1e6;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links .nav-item {
  margin-right: 40px;
}

.nav-links .nav-item:last-child {
  margin-right: 0;
}

.nav-item {
  color: #d1d5db;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #ede3c1;
}

.auth-buttons {
  display: flex;
  gap: 40px;
  margin-left: auto; /* tolja a gombokat jobbra */
  align-items: center;
}

.login {
  position: relative;
  width: 109px;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d1d5db;
  box-shadow: inset 0px 0px 6px 3px #ffffff40;
  -webkit-backdrop-filter: blur(7px) brightness(100%);
  backdrop-filter: blur(7px) brightness(100%);
  background: transparent;
  cursor: pointer;
  padding: 0;
}

/* Szöveg a gombon */
.login .overlap-group {
  position: relative;
  top: 1px;
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ede3c1;
  letter-spacing: 0.03px;
  line-height: 26px;
  white-space: nowrap;
  pointer-events: none;
}

/* Hover állapot: variant */
.login:hover {
  border: 2px solid #ede3c1;
  box-shadow: none;
  background-color: rgba(237, 227, 193, 0.1);
}

.sign-up {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(237, 227, 193, 0.9) 26%,
    rgba(180, 172, 143, 0.9) 100%
  );
  border-radius: 8px;
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  overflow: hidden;
  padding: 2px 15px;
  position: relative;
  width: 109px;
  cursor: pointer;
  border: none;
}

/* Szöveg a gombban */
.sign-up .text-wrapper {
  color: #0e1d32;
  font-family: "Inter", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03px;
  line-height: 26px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  pointer-events: none;
}

/* Hover állapot - háttér átfordítása */
.sign-up:hover {
  background: linear-gradient(
    180deg,
    rgba(180, 172, 143, 0.9) 0%,
    rgba(237, 227, 193, 0.9) 90%
  );
}
