.table-container {
    width: 100%;
}

.table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80vh;
    border-radius: 8px;
    background: #f8f9fa;
    padding: 10px;
}

.holdings-table {
    width: 100%;
    border-collapse: collapse;
}

.holdings-table thead {
    position: sticky;
    top: 0;
    background: #eeeeee;
    font-weight: bold;
}

.holdings-table th,
.holdings-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
}

.grouped-row {
    background-color: white;
    font-weight: bold;
}

.negative {
    color: red;
    display: flex;
    align-items: center;
}

.positive {
    color: green;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}

.group-toggle {
    padding-right: 5px;
}

.group-line-cell {
  position: relative;
}

.group-line {
  position: absolute;
  top: -5px;
  left: 15px;
  width: 2px;
  height: calc(100% + 5px);
  background-color: #999;
}

.group-line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 20px;
  height: 2px;
  background-color: #999;
}

.tree-connector-wrapper {
  position: relative;
  padding-left: 20px;
}

.tree-connector {
  position: absolute;
  top: -2px;
  left: 8px;
  width: 2px;
  height: calc(100% + 2px);
  background-color: #bbb;
}

.tree-connector::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 14px;
  height: 2px;
  background-color: #bbb;
}