.main-container{
    height: 100%;
    width: 100%;
    /*background: #b21f2d;*/
    margin-right: 5px;
    margin-top: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.cash-card{
    height: 100%;
    width: 300px;
    margin: 0px;
}

.cash-card-container{
    padding-left: 15px;
}